@use 'app/shared/styles/tokens';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--se-black);
  color: var(--se-silver);
  font-family: var(--se-font-body);
}

h1,
h2,
h3 {
  font-family: var(--se-font-display);
}
